body {
    background-color: #cacfd4;
}
.card{
    position: relative;
    border:solid 0.125px;
    background: #d7e6ec;
}
.card-header{
    border:1px ;

}
.card-body{
    padding:0;
    border:0;
}
.card-img-top{
    border-bottom:solid 0.125px;
}
.category{
    padding:0;
}
[name="btn1"]{
    text-align: left;
    text-after-overflow: wrap;
}
.producers a{
    padding: 0.375rem 0.75rem;
    height:40px;
}
header a {
    color:#a4a4a4;
}
header .navbar{
    background: #162431;
}
.container-fluid{
    background:#cacfd4;
}
.btn-group {
    display:flex;
    border-style:solid;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 1.5px;
    border-top-width: 1.5px;
    border-color: #cacfd4;
}
.list-group{
    border-radius: 0;
}
.list-group-item{
    border-left:1.5px solid #cacfd4
}
.shoppingCart{
    text-decoration-line: none;
}
#shoppingCart img.small{
    max-height: 150px;
}
#loadMore{
    padding: 10px 0;
}
.product .thumbnail{
    position:relative;
}