.yt-header-under .mini-cart-header {
    position: relative;
    z-index: 69;
    right: 1px;
}
.modal-header {
    border-bottom: 0;
}
#addProductPopup .thumbnail{
    border:0;
}
.woocommerce .quantity .count{
    height: 35px;
    text-align: center;
}
@media (max-width: 991px){
    .resmenu-container .menu-responsive-wrapper ul.flytheme_resmenu {
    height: 250px;
    }
}
ul.vertical-megamenu {
    min-height: 250px;
}
form input[name="register"]{
    left:45%;
    margin-top:30px;
}
table.order th,td{
    text-align: center;
}
table.order {
    width: 100%;
}
table.order .order-actions a {
   left:40%;
}


